# https://editorconfig.org/
#
# SPDX-FileCopyrightText: 2022 - 2023  StorPool <support@storpool.com>
# SPDX-License-Identifier: BSD-2-Clause

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.md]
indent_style = space
indent_size = 2

[*.nix]
indent_style = space
indent_size = 2

[{*.py,*.pyi}]
indent_style = space
indent_size = 4

[{*.rs,*.rs.j2}]
indent_style = space
indent_size = 4

[{*.sh,*.sh.j2}]
indent_style = tab
tab_size = 8

[Makefile]
indent_style = tab
tab_size = 8

[setup.cfg]
indent_style = space
indent_size = 4

[tox.ini]
indent_style = space
indent_size = 2
