# SPDX-FileCopyrightText: 2021 - 2023  StorPool <support@storpool.com>
# SPDX-License-Identifier: BSD-2-Clause

include .editorconfig
include NEWS.md
include tox.ini
recursive-include data *
recursive-include python *.py *.typed
